@import "@/styles/core.scss";

.button {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  box-shadow: none;

  @include flex(center, center, column);
  width: 328px;
  padding: 12px 20px;
  transition: 0.2s;

  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
  }
}

/**
* MODES
**/
.mode-light {
  border-radius: 16px;
  background: rgb(234, 238, 247);
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 2px 2px 6px 0px rgba(84, 60, 151, 0.25);

  &:hover {
    background: rgb(173, 175, 181);
  }

  &:focus {
    border: 1px solid rgb(142, 142, 142);
  }

  &.selected {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0px rgba(84, 60, 151, 0.25);
    background: linear-gradient(
      113.44deg,
      rgb(20, 19, 51) -73.198%,
      rgb(32, 34, 97) 16.068%,
      rgb(84, 60, 151) 88.42%,
      rgb(105, 57, 162) 123.053%
    );
  }

  &.disabled {
    opacity: 0.5;
  }
}

.mode-dark {
  border-radius: 12px;
  background: rgb(251, 251, 255);
  box-shadow: 0px 4px 4px 0px rgba(216, 214, 214, 0.25);

  &:hover {
    background: rgb(220, 213, 233);
  }

  &:focus {
    border: 1px solid rgb(142, 142, 142);
  }

  &.selected {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0px rgba(84, 60, 151, 0.25);
    background: linear-gradient(
      113.44deg,
      rgb(20, 19, 51) -73.198%,
      rgb(32, 34, 97) 16.068%,
      rgb(84, 60, 151) 88.42%,
      rgb(105, 57, 162) 123.053%
    );
  }

  &.disabled {
    opacity: 0.5;
  }
}
