.size-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
}

.size-l {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.mode-light {
  color: #000000;
}

.mode-dark {
  color: #fbfbff;
}
