@import "@/styles/core.scss";

.header {
  @include flex(space-between);

  max-width: 1024px;
  width: 100%;
  padding: 10px 16px;

  svg:first-child {
    cursor: pointer;
  }

  svg:nth-child(3) {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &.mode-light {
      @include fill(#000000);
    }

    &.mode-dark {
      @include fill(#ffffff);
    }
  }
}
